bin/
obj/
*.user
*.rsuser
*.suo
*.userosscache
*.sln.docstates
*.vcxproj.user
*.vscode
.vs/
.vscode/
*.vscode/
**/Properties/launchSettings.json
**/appsettings.json
**/appsettings.Development.json
**/appsettings.Production.json
**/appsettings.Staging.json
*/appsettings.json.template
*/appsettings.Development.json.template
*/appsettings.Production.json.template
*/appsettings.Staging.json.template

