

@* @{

    ViewBag.Title = "Vista Demo";

} *@


@{
    ViewData["Title"] = "Vista Demo";
}



<p>Vista Demo Creada manualmente</p>

@Html.Partial("/Views/Shared/_VistaParcialDemocshtml.cshtml")